<link rel="stylesheet" href="/css/visited-countries.css">

<script src="/js/d3.v4.min.js" defer></script>
<script src="/js/countries.js" defer></script>
<script src="/js/script.js" defer></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Countries I have visited",
  "description": "Interactive map of countries visited by Amin Rashidbeigi",
  "author": {
    "@type": "Person",
    "name": "Amin Rashidbeigi",
    "url": "https://aminrb.me"
  }
}
</script>
